{% extends "base.html" %}

{% block body %}
  <div class="content">
    {% block header %}{% endblock %}

    <header>
      <nav class="navbar navbar-default grove-navbar" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="grove-toggle" data-toggle="collapse" data-target=".grove-nav">   <i class="glyphicons show_lines"><i></i></i>  </a>
            <a href="http://camunda.com" class="navbar-brand"><img style="width:200px;" src="img/camunda_logo.png" alt="Camunda"></a>
          </div>

          <div class="collapse navbar-collapse grove-nav">
            <ul class="nav navbar-nav ">
              <li class="active">
                <a href="/">Home</a>
              </li>

              <li id="menBPMN" class="dropdown">
                <a href="/bpmn/training" data-toggle="dropdown">Exercises</a>
                <ul class="dropdown-menu">
                  <li><a href="/pages/en/exercises/01-Dispatch-of-goods.md">Dispatch of Goods</a></li>
                  <li><a href="/pages/en/exercises/02-Recourse.md">Recourse</a></li>
                  <li><a href="/pages/en/exercises/03-Credit-scoring.md">Credit Scoring</a></li>
                  <li><a href="/pages/en/exercises/04-Self-service-restaurant.md">Self Service Restaurant</a></li>
                </ul>
              </li>
              <li></li>
              <li class="active"><a>English</a></li>
              <li><a href="/de/">Deutsch</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </header>

    <div class="content">
      {% block item_body %}
      {% endblock %}
    </div>
  </div>
{% endblock %}